{
  "parser": "babel-eslint",
  "extends": "airbnb",
  "env": {
    "browser": true
  },
  "rules": {
    "comma-dangle": ["error", "always-multiline"],
    "max-len": ["error", {
      "code": 80,
      "ignoreComments": true,
      "ignoreTemplateLiterals": true,
      "ignoreUrls": true,
      "ignoreTrailingComments": true
    }],
    "no-nested-ternary": 0,
  },
  "settings": {
    "import/resolver": {
      "babel-module": {}
    }
  }
}
